<div class="container text-center col-md-10 text-center">
   <table class="table table-bordered bg-light p-4 mt-3 mb-3">
      <tr>
         <th class="text-primary" colspan="5">Suplier List</th>
         <th>
            <a class="btn btn-primary" href="/suplier/add">ADD</a>
            <a class="btn btn-success" href="/suplier/drop"
               onclick="return confirm('Are you sure to drop all suplier ?');">DROP</a>
         </th>
      </tr>
      <tr>
         <th>Name</th>
         <th>Address</th>
         <th>Email</th>
         <th>Contact</th>
         <th>Status</th>
         <th>Menu</th>
      </tr>
      <tr>
         <th colspan="5">
            <select class="form-control" onchange="window.location.href=this.value">
               <option value="">Sort by name</option>
               <option value="/suplier/sort/asc">Ascending</option>
               <option value="/suplier/sort/desc">Descending</option>
            </select>
         </th>
         <th colspan="1">
            <form action="/suplier/search" method="post">
               <div class="form-group">
                  <input class="form-control" type="search" name="Name" placeholder="Search by name">
               </div>
            </form>
         </th>
      </tr>
      {{#each suplier }}
      <tr>
         <td>{{Name}}</td>
         <td>{{Address}}</td>
         <td>{{Email}}</td>
         <td>{{Contact}}</td>
         <td>
            
         </td>
         <td>
            <a class="btn btn-warning" href="/suplier/edit/{{_id}}">EDIT</a>
            <a class="btn btn-danger" href="/suplier/delete/{{_id}}">DELETE</a>
         </td>
      </tr>
      {{/each}}
   </table>
</div>
<style>
   table{
      background-image: linear-gradient(#FFEFBA,#FFFFFF);
   }
</style>