
<div class="container text-center">
   <div class="card-group">
      <div class="row">
         {{#each product}}
         <div class="card col-md-3 m-3">
            <a href="/product/detail/{{_id}}">
               <img class="card-img-top mt-4" src="{{Image}}" width="200" height="200">
            </a>
            <div class="card-body">
               <h4 class="card-title text-success">{{Name}}</h4>
               <p class="card-text text-danger">{{Price}}000$</p>
               <a class="btn btn-primary" href="/product/detail/{{_id}}" role="button">Add To Cart</a>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>

<style>
   .card-group {
         margin-right: 1px;
         margin-top: 40px;
         margin-left: 150px;

   }
</style>



