<div class="container col-md-8 mt-5">
   <form action="/staff/edit/{{staff._id}}" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Edit student</h2>
      <div class="form-group">
         <label class="text-success h6">Staff Name</label>
         <input class="form-control" type="text" name="Name" value="{{staff.Name}}" required minlength="3"
            maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Staff Email</label>
         <input class="form-control" type="email" name="Email" value="{{staff.Email}}" required minlength="3"
            maxlength="20">
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Staff Gender</label>
         <br>
         {{!-- Male <input type="radio" name="Gender" value="Male">
         Female <input type="radio" name="Gender" value="Female"> --}}
         {{#equal staff.Gender "Male"}}
         Male <input type="radio" name="Gender" value="Male" checked>
         Female <input type="radio" name="Gender" value="Female">
         {{/equal}}
         {{#equal staff.Gender "Female"}}
         Male <input type="radio" name="Gender" value="Male">
         Female <input type="radio" name="Gender" value="Female" checked>
         {{/equal}}
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Staff Image</label><br>
         <img src="{{student.Image}}" width="100" height="100">
         <input class="form-control mt-3" type="text" name="Image" value="{{staff.Image}}" required>
      </div>
      <div class="form-group mt-3">
         <label class="text-success h6">Staff Birthday</label>
         <input class="form-control" type="date" name="Date" value="{{dateFormat staff.Date 'YYYY-MM-DD'}}" required>
      </div>
      <div class="form-group mt-3">
         <input class="btn btn-primary mt-3" type="submit" value="Edit">
      </div>
   </form>
</div>